/*NAVBAR*/
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 1rem 4rem;
}

.container__logo-y-barrabusqueda{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.navbar__logo{
    padding-right: 1rem;
}

.navbar__form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.navbar__barra-busqueda{
    border-style: none;
    width: 65%;
    border-radius: 2rem;
    background: #F5F5F5
}

.input{
    width: 100%;
    height: 2rem;
    border-style: none;
    background: #F5F5F5;
    columns: #a2a2a2;
    font-size: 0.875rem;
    outline: none;
    font-family: 'Raleway', sans-serif;
}

.btn__search{
    border: none;
    background: #F5F5F5;
    width: 1.15rem;
    height: 1.15rem;
}

/*DESCRIPCION PRODUCTO*/
.detalleProducto__container{
    width: 100%;
    padding: 2rem 0rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.detalleProducto-img__container{
    height: 20rem;
    width: 50%;
}

.imgProducto{
    width: 20rem;
    height: 20rem;
}

.detalleProducto-info__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    gap: 1rem;
    height: 20rem;
}

.nombreProducto__container{
    font-size: 2rem;
    font-weight: bold;
}

.categoriaProducto__container{
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 500;
    padding-bottom: 2rem;
    color: #a2a2a2;
}

.precioProducto__container{
    font-size: 1.5rem;
    font-weight: 500;
    color: #2A7AE4;
    padding: 2rem 0;
}

.descripcionProducto__container{
    font-size: 1.25rem;
    padding: 2rem 0;
    color: #464646;
}


/*FOOTER*/
.footer__contenido{
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 4rem;
    background-color: #EAF2FD;
    height: 23rem;
}

.logo-list__container{
    display: inherit;
}

.footer__logo{
    padding-right: 2rem;
}

.list__container{
    font-size: 1rem;
    color: #464646;
    font-weight: 500;
}

.list__item{
    padding-bottom: 1.5rem;
}

.footer__contacto{
    width: 45%;
}

.contacto__title{
    font-size: 1rem;
    font-weight: bold;
}

.contacto__content{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    align-items: stretch;
}

.input__container{
    padding-bottom: 1rem;
}

.input__container .input{
    height: 3.5rem;
    background-color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 500;
    padding-left: 0.5rem;
}

.input__container .input-mensaje{
    height: 5.125rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    padding-left: 0.5rem;
}

.btn__enviarmsj{
    width: 9rem;
    height: 3.25rem;
    color: #FFFFFF;
    background-color: #2A7AE4;
    border: none;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}


/*RODAPIE*/
.rodapie__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 6.5rem;
}

.rodapie__content{
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 768px) {
    .detalleProducto__container{
        min-width: 22.5rem;
        padding: 1rem 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .detalleProducto-img__container{
        width: auto;
        height: auto;
    }
    
    .detalleProducto-info__container{
        align-items: center;
        padding: 1rem 0;
        width: 50%;
        gap: 0rem;
        height: auto;
    }
    .nombreProducto__container{
        padding: 0.5rem 0;
    }
    .categoriaProducto__container{
        padding: 0.5rem 0;
    }
    .precioProducto__container{
        padding: 0.5rem 0;
    }
    .descripcionProducto__container{
        padding: 0.5rem 0;
    }
    .container{
        padding: 1rem 1.5rem;
    }
    .container__logo-y-barrabusqueda{
        width: 60%;
    }.footer__contenido{
        padding: 1.5rem;
        align-items: center;
    }
    .logo-list__container{
        display: flex;
        flex-direction: column;
    }
    .footer__logo{
        padding: 1rem 0;
    }
    .list__container{
        padding-left: 0.5rem;
    }
    .footer__contacto{
        width: 60%;
    }
}

@media screen and (max-width:480px) {
    .container{
        padding: 1rem;
        min-width: 22.5rem;
    }
    .navbar__logo{
        padding-right: 0;
    }
    .navbar__form{
        padding: 0;
    }
    .navbar__barra-busqueda{
        width: auto;
        height: auto;
    }
    .input{
        display: none;
    }
    .btn__search{
        background-color: #FFFFFF;
    }.footer__contenido{
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 1rem;
        min-width: 22.5rem;
    }
    .footer__links{
        text-align: center;
    }
    .footer__contacto{
        width: 100%;
        padding: 1rem;
    }
    .input-nombre, .input-mensaje{
        display: flex;
        width: 100%;
    }
    .rodapie__container{
        min-width: 22.5rem;
    }
}