/*NAVBAR*/
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 1rem 4rem;
}

.container__logo-y-barrabusqueda{
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.navbar__logo{
    padding-right: 2rem;
}

.navbar__form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.navbar__barra-busqueda{
    border-style: none;
    width: 65%;
    border-radius: 2rem;
    background: #F5F5F5
}

.input{
    width: 100%;
    height: 2rem;
    border-style: none;
    background: #F5F5F5;
    columns: #a2a2a2;
    font-size: 0.875rem;
    outline: none;
    font-family: 'Raleway', sans-serif;
}

.btn__search{
    border: none;
    background: #F5F5F5;
    width: 1.15rem;
    height: 1.15rem;
}

.btn__login{
    width: 8rem;
    height: 3rem;
    color: #2A7AE4;
    border-color: #2A7AE4;
    background: none;
    border-width: 0.1rem;
    font-family: 'Raleway', sans-serif;
}


/*HERO*/
.hero__container{
    display: flex;
    flex-direction: column;
    background-image: url(../img/Banner.png);
    height: 22rem;
    justify-content: flex-end;
    padding: 0 4rem;
}

.hero__title{
    font-size: 3.125rem;
    color: #FFFFFF;
    font-weight: bold;
}

.hero__subtitle{
    font-size: 1.375rem;
    padding: 1.25rem 0;
    color: #FFFFFF;
    font-weight: bold;
}

.btn__consolas{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 7.5rem;
    height: 2.5rem;
    background-color: #2A7AE4;
    border: none;
    color: #FFFFFF;
    margin-bottom: 1.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}


/* PRODUCTOS */
.products__container{
    padding: 4.5rem;
}

.products__line{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 1rem;
    padding: 2.5rem 0;
}

.line__info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.line__title{
    color: #464646;
    font-size: 2rem;
    font-weight: bold;
}

.line__vertodo{
    height: 100%;
    color: #2A7AE4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.item__title{
    font-size: 0.875rem;
    padding: 0.35rem 0;
}

.item__price{
    font-size: 1rem;
    font-weight: bold;
    padding: 0.35rem 0;
}

.item__description{
    font-size: 1rem;
    font-weight: bold;
    color: #2A7AE4;
    padding: 0.35rem 0;
}


/*FOOTER*/
.footer__contenido{
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 4rem;
    background-color: #EAF2FD;
    height: 23rem;
}

.list__container{
    font-size: 1rem;
    color: #464646;
    font-weight: 500;
}

.list__item{
    padding-bottom: 1.5rem;
}

.footer__contacto{
    width: 45%;
}

.contacto__title{
    font-size: 1rem;
    font-weight: bold;
}

.contacto__content{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    align-items: stretch;
}

.input__container{
    padding-bottom: 1rem;
}

.input__container .input{
    height: 3.5rem;
    background-color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 500;
}

.input__container .input-mensaje{
    height: 5.125rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
}

.btn__enviarmsj{
    width: 9rem;
    height: 3.25rem;
    color: #FFFFFF;
    background-color: #2A7AE4;
    border: none;
    font-family: 'Raleway', sans-serif;
}


/*RODAPIE*/
.rodapie__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 6.5rem;
}

.rodapie__content{
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
}