/*NAVBAR*/
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 1rem 4rem;
}

.container__logo-y-barrabusqueda{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.navbar__logo{
    padding-right: 1rem;
}

.navbar__form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.navbar__barra-busqueda{
    border-style: none;
    width: 65%;
    border-radius: 2rem;
    background: #F5F5F5
}

.input{
    width: 100%;
    height: 2rem;
    border-style: none;
    background: #F5F5F5;
    columns: #a2a2a2;
    font-size: 0.875rem;
    outline: none;
    font-family: 'Raleway', sans-serif;
}

.btn__search{
    border: none;
    background: #F5F5F5;
    width: 1.15rem;
    height: 1.15rem;
}

/* PRODUCTOS */
.products__container{
    padding: 4.5rem;
    background: #E5E5E5;
}

.products__container-busqueda{
    padding: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.products__line{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 1rem;
    padding: 2.5rem 0;
}

.line__info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.line__title{
    color: #464646;
    font-size: 2rem;
    font-weight: bold;
}

.btn__agregarProducto{
    height: 3.1875rem;
    width: 10rem;
    background-color: #2A7AE4;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    border: none;
    transition: all 5ms ease-in-out;
}

.btn__agregarProducto:hover{
    background-color: #5e95dd;
}

#icons__container{
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: end;
    text-align: end;
    gap: 0.5rem;
    padding: 0.5rem 0;    
}

.line__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.line-img__container{
    width: 15rem;
    height: 15rem;
}

.line__img{
    width: 15rem;
    height: 15rem;
}

.item__title{
    font-size: 0.875rem;
    padding: 0.35rem 0;
}

.item__price{
    font-size: 1rem;
    font-weight: bold;
    padding: 0.35rem 0;
}

.item__description{
    font-size: 1rem;
    font-weight: bold;
    color: #2A7AE4;
    padding: 0.35rem 0;
}


/*FOOTER*/
.footer__contenido{
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 4rem;
    background-color: #EAF2FD;
    height: 23rem;
}

.logo-list__container{
    display: inherit;
}

.footer__logo{
    padding-right: 2rem;
}

.list__container{
    font-size: 1rem;
    color: #464646;
    font-weight: 500;
}

.list__item{
    padding-bottom: 1.5rem;
}

.footer__contacto{
    width: 45%;
}

.contacto__title{
    font-size: 1rem;
    font-weight: bold;
}

.contacto__content{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    align-items: stretch;
}

.input__container{
    padding-bottom: 1rem;
}

.input__container .input{
    height: 3.5rem;
    background-color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 500;
    padding-left: 0.5rem;
}

.input__container .input-mensaje{
    height: 5.125rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    padding-left: 0.5rem;
}

.btn__enviarmsj{
    width: 9rem;
    height: 3.25rem;
    color: #FFFFFF;
    background-color: #2A7AE4;
    border: none;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}


/*RODAPIE*/
.rodapie__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 6.5rem;
}

.rodapie__content{
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 768px) {
    .container{
        padding: 1rem 1.5rem;
    }
    .container__logo-y-barrabusqueda{
        width: 60%;
    }
    .products__container{
        padding: 1.5rem;
    }
    .products__line{
        gap: 0.75rem;
    }
    .footer__contenido{
        padding: 1.5rem;
        align-items: center;
    }
    .logo-list__container{
        display: flex;
        flex-direction: column;
    }
    .footer__logo{
        padding: 1rem 0;
    }
    .list__container{
        padding-left: 0.5rem;
    }
    .footer__contacto{
        width: 60%;
    }
}

@media screen and (max-width:480px) {
    .container{
        padding: 1rem;
        min-width: 22.5rem;
    }
    .navbar__logo{
        padding-right: 0;
    }
    .navbar__form{
        padding: 0;
    }
    .navbar__barra-busqueda{
        width: auto;
        height: auto;
    }
    .input{
        display: none;
    }
    .btn__search{
        background-color: #FFFFFF;
    }
    .products__container{
        padding: 0 1rem;
        min-width: 22.5rem;
    }
    .footer__contenido{
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 1rem;
        min-width: 22.5rem;
    }
    .footer__links{
        text-align: center;
    }
    .footer__contacto{
        width: 100%;
        padding: 1rem;
    }
    .input-nombre, .input-mensaje{
        display: flex;
        width: 100%;
    }
    .rodapie__container{
        min-width: 22.5rem;
    }
}